.postContent {
    width: 400px;
    margin: auto;
    max-width: 90%;
}

.date {
    text-align: start;
    margin-bottom: 8px;
}

.date span {
    width: 88px;
    display: inline-block;
}

.nameWrap {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.yourname {
    color: #848484;
    white-space: nowrap;
    font-size: 14px;
    margin: 0;
    margin-right: 6px;
}

.name {
    width: 100%;
}

.txt {
width: 100%;
min-height: 100px;
margin-bottom: 40px;
}

.postBtn {
    font-size: 20px;
    padding: 8px 0;
    display: block;
    width: 200px;
    margin: auto;
    background-color: rgb(216, 203, 242);
    border: none;
    box-shadow: 1px 1px 5px;
    cursor: pointer;
}