.loginContent {
    text-align: center;
}

p {
    margin-bottom: 16px;
}
.loginBtn {
    font-size: 20px;
    padding: 8px 0;
    display: block;
    width: 200px;
    margin: auto;
    background-color: rgb(216, 203, 242);
    border: none;
    box-shadow: 1px 1px 5px;
    cursor: pointer;
}

button:hover {
    box-shadow: none;
    transition: all .3s;
    transform: translate(2px, 2px);
}